name: Release version and publish package

on:
  workflow_run:
    workflows: ["Build and test"]
    types: [completed]

concurrency:
  group: release-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  # Retrieve artifacts after build and test run
  check-artifacts:
    name: Check artifacts from build run
    if: github.event.workflow_run.conclusion == 'success'
    runs-on: ubuntu-latest
    permissions:
      actions: read  # Required to download artifacts from other workflow runs
    steps:
      - name: Retrieve release distributions
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53
        with:
          name: dists
          path: dist/
          github-token: ${{ secrets.GITHUB_TOKEN }}
          run-id: ${{ github.event.workflow_run.id }}

      - name: Upload artifacts
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4
        with:
          name: dists
          path: dist/
          if-no-files-found: error
          retention-days: 1

  # Create release
  release-publish:
    if: |
      github.event.workflow_run.event != 'pull_request' &&
      github.event.workflow_run.head_branch == github.event.repository.default_branch
    name: Create release and publish package
    runs-on: ubuntu-latest
    needs:
      - check-artifacts
    permissions:
      id-token: write  # IMPORTANT: this permission is mandatory for trusted publishing
    steps:
      # Without this step, the release job will not realize this is a git repo,
      # and will not honor the `clean: false` option
      - name: Clone this git repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Retrieve release distributions
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53
        with:
          name: dists
          path: dist/

      - name: Create GitHub release
        id: release
        uses: plus3it/actions-workflows/.github/actions/release@269d875599c92395f7fa99cab43edc1820798e61
        with:
          release-token: "${{ secrets.GH_RELEASES_TOKEN }}"
          release-files: |
            dist/*

      - run: ls -al dist/

      - name: Publish package distributions to PyPI
        if: steps.release.outputs.release-condition == 'true'
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e
